@import "../utilities/css/normalize";

html, body {}
body {}

// ---
// typography

%copy {
  color: $font-color-text;
  font-family: $font-family-base;
  font-weight: $font-weight-regular;
  font-size: fluid(rem(16px), rem(20px)); // Mobile: 16px, Desktop: 20px
  line-height: fluid(1.5, 1.366);
}

body,
button,
input,
select,
optgroup,
textarea,
figcaption {
  @extend %copy;
}

// ---
// headings

%heading {
  font-family: $font-family-heading;
  font-weight: $font-weight-bold;

  @include mobile {
    //hyphens: auto;
    //-webkit-hyphens: auto; // Safari
  }
}

%h1 {
  @extend %heading;
  font-size: fluid(rem(32px), rem(50px)); // Mobile: 32px, Desktop: 50px
  line-height: fluid(1.2, 1.3);
}

h1, .h1 {
  @extend %h1;
}

%h2 {
  @extend %heading;
  font-size: fluid(rem(28px), rem(39.2px)); // Mobile: 28px, Desktop: 39.2px
  line-height: fluid(1.2, 1.5);
}

h2, .h2 {
  @extend %h2;
}

%h3 {
  @extend %heading;
  font-size: fluid(rem(24px), rem(30px)); // Mobile: 24px, Desktop: 30px
  line-height: fluid(1.2, 1.5);
  font-weight: $font-weight-semibold;
}

h3, .h3 {
  @extend %h3;
}

%h4 {
  @extend %heading;
  font-size: fluid(rem(20px), rem(24px)); // Mobile: 20px, Desktop: 24px
  line-height: fluid(1.2, 1.5);
  font-weight: $font-weight-semibold;
}

h4, .h4 {
  @extend %h4;
}

%h5 {
  @extend %heading;
  font-size: fluid(rem(18px), rem(20px)); // Mobile: 18px, Desktop: 20px
  line-height: fluid(1.2, 1.5);
  font-weight: $font-weight-medium;
}

h5, .h5 {
  @extend %h5;
}

%h6 {
  @extend %heading;
  font-size: fluid(rem(16px), rem(18px)); // Mobile: 16px, Desktop: 18px
  line-height: fluid(1.2, 1.366);
  font-weight: $font-weight-medium;
}

h6, .h6 {
  @extend %h6;
}

// ---
// links

%link {
  color: $font-color-link;
  text-decoration: none;
  transition: all .2s ease-in-out;
  outline: 0;

  .site-main & {
    text-decoration: underline;
    text-underline-offset: .14em;
    text-decoration-color: currentColor;
  }

  &:hover {
    color: $font-color-link-hover;
  }

  &:active, &.active {
    color: $font-color-link-active;
  }

  &[href=""] {
    pointer-events: none;
  }

  &[href^="#"],
  &[href^="tel:"] {
    text-decoration: none !important;
  }

  &[href*=".pdf"],
  .download a {
    @include icon-after("\f316", dashicons) {
      text-decoration: none;
      vertical-align: middle;
    }
  }
}

a, .link {
  @extend %link;
}


.icont-linkedin-icon {
  line-height: 0;

  a {
    @include icon-before(linkedin) {
      margin-right: 0;
    }

    display: inline-block;
    width: rem(40px);
    height: rem(40px);
    overflow: hidden;
    line-height: 1;
    position: relative;
    z-index: 1;
    font-size: 0; // hide text visually, keep accessible name
    text-decoration: none !important;
    margin-left: 1rem;
  }

  a::before {
    font-size: rem(40px); // explicit size independent of parent font-size
    line-height: 1;
    margin-left: 0;
    color: #0077B5; // LinkedIn blue
  }
}

.site :focus-visible {
  outline: 2px dashed var(--color-error);
  outline-offset: .28em;
}

ul {
  list-style: disc;
  padding-left: 1.5em;
  margin-block: 1.5em;

  li {
    margin-bottom: .5em;
  }

  ::marker {
    color: $orange;
    font-size: 1em;
  }
}
