@import "../utilities/css/normalize";

html, body {}
body {}

// ---
// typography

%copy {
  color: $font-color-text;
  font-family: $font-family-base;
  font-weight: $font-weight-regular;
  font-size: 20px; // Figma: Avenir, 20px
  line-height: 1.366;
}

body,
button,
input,
select,
optgroup,
textarea,
figcaption {
  @extend %copy;
}

// ---
// headings

%heading {
  font-family: $font-family-heading;
  font-weight: $font-weight-bold;

  @include mobile {
    //hyphens: auto;
    //-webkit-hyphens: auto; // Safari
  }
}

%h1 {
  @extend %heading;
  font-size: 50px; // Figma: Poppins, 50px
  line-height: 1.3;
}

h1, .h1 {
  @extend %h1;
}

%h2 {
  @extend %heading;
  font-size: 39.2px; // Figma: Poppins, 39.2px
  line-height: 1.5;
}

h2, .h2 {
  @extend %h2;
}

%h3 {
  @extend %heading;
  font-size: 30px; // Figma: Poppins, 30px
  line-height: 1.5;
  font-weight: $font-weight-semibold;
}

h3, .h3 {
  @extend %h3;
}

%h4 {
  @extend %heading;
  font-size: 24px; // Figma: Poppins, 24px
  line-height: 1.5;
  font-weight: $font-weight-semibold;
}

h4, .h4 {
  @extend %h4;
}

%h5 {
  @extend %heading;
  font-size: 20px; // Figma: Poppins, 20px
  line-height: 1.5;
  font-weight: $font-weight-medium;
}

h5, .h5 {
  @extend %h5;
}

%h6 {
  @extend %heading;
  font-size: 18px; // Figma: Poppins, 18px
  line-height: 1.366;
  font-weight: $font-weight-medium;
}

h6, .h6 {
  @extend %h6;
}

// ---
// links

%link {
  color: $font-color-link;
  text-decoration: none;
  transition: all .2s ease-in-out;
  outline: 0;

  .site-main & {
    text-decoration: underline;
    text-underline-offset: .14em;
    text-decoration-color: currentColor;
  }

  &:hover {
    color: $font-color-link-hover;
  }

  &:active, &.active {
    color: $font-color-link-active;
  }

  &[href=""] {
    pointer-events: none;
  }

  &[href^="#"],
  &[href^="tel:"] {
    text-decoration: none !important;
  }

  &[href*=".pdf"],
  .download a {
    @include icon-after("\f316", dashicons) {
      text-decoration: none;
      vertical-align: middle;
    }
  }
}

a, .link {
  @extend %link;
}

.site :focus-visible {
  outline: 2px dashed var(--color-error);
  outline-offset: .28em;
}

ul {
  list-style: disc;
  padding-left: 1.5em;
  margin-block: 1.5em;

  li {
    margin-bottom: .5em;
  }

  ::marker {
    color: $orange;
    font-size: 1em;
  }
}
