@import "../utilities/inc/gutenberg/editor-style";

// Override: CTA bar should not be fixed or sliding inside the block editor
.editor-styles-wrapper .wp-block-group.cta-bar,
.block-editor-block-list__layout .wp-block-group.cta-bar,
.is-root-container .wp-block-group.cta-bar,
.block-editor-writing-flow .wp-block-group.cta-bar,
.block-editor-iframe__body .wp-block-group.cta-bar,
.edit-site-visual-editor__content .wp-block-group.cta-bar {
    position: static !important;
    transform: none !important;
    transition: none !important;
    box-shadow: none !important;
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
    width: auto !important;
    z-index: auto !important;
}

.editor-styles-wrapper .wp-block-group.cta-bar.is-visible,
.block-editor-block-list__layout .wp-block-group.cta-bar.is-visible,
.is-root-container .wp-block-group.cta-bar.is-visible,
.block-editor-writing-flow .wp-block-group.cta-bar.is-visible,
.block-editor-iframe__body .wp-block-group.cta-bar.is-visible,
.edit-site-visual-editor__content .wp-block-group.cta-bar.is-visible {
    transform: none !important;
}
