section {
    padding-block: fluid(rem(20px), rem(65px));
    overflow-x: clip;

    > .wp-block-columns {
        margin-block: fluid(rem(20px), rem(65px));
    }
}

.hero {
    padding-bottom: 35px;

    > .wp-block-columns {
        margin-bottom: 0;
    }

    > .wp-block-group {
        padding-block: fluid(rem(10px), rem(40px));

        figure {
            padding: 0;
        }
    }

    .wp-block-image {
        display: flex;

        img {
            margin-left: auto;
        }
    }

}

.facts {
    > .wp-block-group {
        align-items: stretch;

        > .wp-block-group {
            display: flex;
            flex-direction: column;

            > * {
                width: 100%;
            }

            .wp-block-columns {
                justify-content: center;
                height: 60%;
                margin-top: auto;
                margin-bottom: 0;
            }
        }

    }
}
