section {
    padding-block: fluid(rem(50px), rem(65px));
    overflow-x: clip;

    > .wp-block-columns {
        margin-block: fluid(rem(20px), rem(65px));
    }
}

// --- Blog enhancements styles ---
.blog, .single-post {
    #masthead {
        background: transparent;
    }

    #primary {
        padding-block-start: rem(50px);
    }
}

[rel="tag"] {
    display: inline-block;
	background-color: $dark-blue;
	color: $white;
	padding: 0.5rem;
    margin-block: 0.5rem;
	border-radius: 0.5rem;
	font-size: rem(14px);
	text-decoration: none !important;

	&:hover {
		background-color: $dark-blue-hover !important;
        color: $white;
	}
}

.post-meta-box {
	margin-block: rem(20px);

    > .wp-block-group {
        > .wp-block-group {
            padding: .5rem;
        }
    }
}

.post-toc-box {
	margin-block: rem(20px);

    > .wp-block-group {
        padding: rem(20px);
        border-radius: rem(10px);
        background-color: $off-white;

        h2 {
            margin-block: rem(20px);
        }
    }
}

.wp-block-post-author {
    margin-block: rem(50px);

    img {
        border-radius: 100%;
    }
}

.alignfull {
    overflow-x: clip;
}

.hero {
    padding-bottom: 35px;
    margin-block-end: 2rem;

    > .wp-block-columns {
        margin-bottom: 0;
    }

    > .wp-block-group {
        padding-block: fluid(rem(10px), rem(40px));

        figure {
            padding: 0;
        }
    }

    .wp-block-image {
        display: flex;

        img {
            margin-left: auto;
        }
    }

}

.facts {

    padding-block-end: 0;

    @include media-breakpoint-down(lg) {
        background: transparent !important;

        > .wp-block-group {
            flex-direction: column;
    
            > figure {
                background-color: $light-blue;
                display: block;
                border-radius: 100%;
                aspect-ratio: 1 / 1;
                overflow: hidden;
    
                + .wp-block-group {                    
                    h2, p {
                        text-align: center;
                    }

                    .wp-block-columns {
                        justify-content: center;
                        row-gap: rem(15px);

                        .wp-block-column {

                            &[style*="flex-basis:33%"] {    
                                flex-basis: 33.33% !important;
                                max-width: 33.33% !important;
                            }

                            &[style*="flex-basis:100%"] {
                                justify-items: center;
                            }
                            
                        }
                    }
                }
            }
    
            > .wp-block-group > .wp-block-group { // Title with icon
                display: block;
                justify-content: center;
                margin-block-end: 4rem;
                margin-inline: auto;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        > .wp-block-group {
            align-items: stretch;

            > figure {
                margin-right: rem(60px);
            }
    
            > .wp-block-group {
                display: flex;
                flex-direction: column;
    
                > * {
                    width: 100%;
                }
    
                .wp-block-columns {
                    justify-content: center;
                    height: 60%;
                    margin-top: auto;
                    margin-bottom: 0;
                }
            }
    
        }   
    }
}
