section {
    padding-block: fluid(rem(20px), rem(65px));
    overflow-x: clip;

    > .wp-block-columns {
        margin-block: fluid(rem(20px), rem(65px));
    }
}

.hero {
    padding-bottom: 35px;

    > .wp-block-columns {
        margin-bottom: 0;
    }

    > .wp-block-group {
        padding-block: fluid(rem(10px), rem(40px));

        figure {
            padding: 0;
        }
    }

    .wp-block-image {
        display: flex;

        img {
            margin-left: auto;
        }
    }

}

.facts {

    @include media-breakpoint-down(lg) {

        background: transparent !important;

        > .wp-block-group {
            flex-direction: column;
    
            > figure {
                background-color: $light-blue;
                display: block;
                border-radius: 100%;
                aspect-ratio: 1 / 1;
                overflow: hidden;
    
                + .wp-block-group {                    
                    h2, p {
                        text-align: center;
                    }

                    .wp-block-columns {
                        justify-content: center;
                        row-gap: rem(15px);

                        .wp-block-column {
                            flex-basis: 33.33% !important;
                            max-width: 33.33% !important;
                        }
                    }
                }
            }
    
        }
    }

    @include media-breakpoint-up(lg) {
        > .wp-block-group {
            align-items: stretch;
    
            > .wp-block-group {
                display: flex;
                flex-direction: column;
    
                > * {
                    width: 100%;
                }
    
                .wp-block-columns {
                    justify-content: center;
                    height: 60%;
                    margin-top: auto;
                    margin-bottom: 0;
                }
            }
    
        }   
    }
}
